.productoSeleccionado{
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
}
.productoSeleccionado__h1NameProducto{
    margin: 10px;
}
.productoSeleccionado__h2Disponible{
    color: red;
    margin: 10px;
}
.productoSeleccionado__ContainerImagenPrincipal{
    width: 100%;
    height: 80dvh;
}
.productoSeleccionado__ImagenPrincipal{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productoSeleccionado__otrasImagenes{
    display: flex;
    flex-direction: row;
    height: 300px;
    object-fit: cover;
    width: 100%;
    overflow-x: auto;
    gap: 5px;
    margin-top: 20px;
}
.productoSeleccionado__wp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.productoSeleccionado__whatsapp{
    height: 50px;
    width: 80%;
    border-radius: 15px;
    border: none;
    background-color: #25D366;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.productoSeleccionado__wp-icon{
    font-size: 30px;
}
.productoSeleccionado__ConImagenCarrusel{
    width: 200px;
    height: 300px;
    flex-shrink: 0; 
}
.productoSeleccionado__ImagenCarrusel{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productoSeleccionado__h3Descripcion{
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
    
}
.productoSeleccionado__descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 50px;
    
}
.productoSeleccionado__h3ProductoRelacionado{
    margin: 10px;
}



.carrusel__container{
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 320px;
    overflow-x: auto;
}
.carrusel__containerimg{
    width: 200px;
    height: 320px;
    flex-shrink: 0; 
}
