.productoSeleccionado{
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
}
.productoSeleccionado__h1NameProducto{
    margin: 70px 10px 10px 10px;
    color: #C9A24D;
    text-transform: uppercase;
    
}
.productoSeleccionado__h2Disponible{
    color: red;
    margin: 10px;
}
.productoSeleccionado__ContainerImagenPrincipal{
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    box-shadow: inset 0 -10px 15px rgba(195, 194, 194, 0.3), inset 0 10px 15px rgba(195, 194, 194, 0.3);
}
.productoSeleccionado__ImagenPrincipal{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    mask-image: linear-gradient(
        transparent,
        black 4%
    )

}
.productoSeleccionado__modalImg{
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    left: 0;
    top: 0;
}
.productoSeleccionado__modalImg--off{
    display: none;
}
.modalImg__iconClose{
    position: absolute;
    z-index: 1000;
    font-size: 45px;
    margin: 15px;
    right: 0;
    cursor: pointer;
}
.productoSeleccionado__otrasImagenes{
    display: flex;
    flex-direction: row;
    height: 290px;
    object-fit: cover;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 5px;
    margin-top: 20px;
    
}


.productoSeleccionado__wp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.productoSeleccionado__whatsapp{
    height: 50px;
    width: 80%;
    border-radius: 15px;
    border: none;
    background-color: #25D366;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.productoSeleccionado__wp-icon{
    font-size: 30px;
}
.productoSeleccionado__ConImagenCarrusel{
    width: 190px;
    height: 290px;
    flex-shrink: 0; 
}
.productoSeleccionado__ImagenCarrusel{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;


}
.productoSeleccionado__ImagenCarrusel--click{
   
    
    animation: clickEffect 0.5s linear;
}

@keyframes clickEffect {
    0%   { transform: scale(1); }
    20%  { transform: scale(0.9); }
    60%  { transform: scale(1.05); }
    100% { transform: scale(1); }
}
.productoSeleccionado__h3Descripcion{
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
    color: #C9A24D;
    
}
.productoSeleccionado__descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 50px;
    
}
.productoSeleccionado__h3ProductoRelacionado{
    margin: 10px;
    color: #C9A24D;
}



.carrusel__container{
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 320px;
    overflow-x: auto;
}
.carrusel__containerimg{
    width: 200px;
    height: 320px;
    flex-shrink: 0; 
}




/*mas informacion*/
.productoSeleccionado__masInformacion{
    
    height: fit-content;
    margin-bottom: 30px;
    
}
.masInformacion__desplegable{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}
.masInformacion__h3{
    margin: 0 10px;
}
.masInformacion__iconPlus{
    font-size: 23px;
}
.masInformacion__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    
    height: 500px;
    transition: height 0.3s linear;
    
    
    
}
.masInformacion__container--off{

    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: height 0.3s linear;
}
.masInformacion__informacion{
    display: flex;
    align-items: center;
}
.masInformacion__informacion--off{
    display: none;
}
.masInformacion__containerIcon{
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    background-color: #98B39F;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    position: relative;
    border-radius: 10px;
    margin-right: 20px;
    box-sizing: border-box;
}
.masInformacion__icon{
    color: #ffffff;
    position: absolute;
    transform: rotate(-45deg);
    font-size: 35px;
}
.masInformacion__p{
    font-size: 18px;
}

