.productoSeleccionado{
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
}
.productoSeleccionado__ContainerImagenPrincipal{
    background-color: red;
    width: 100%;
    height: 80dvh;
}
.productoSeleccionado__ImagenPrincipal{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productoSeleccionado__otrasImagenes{
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 250px;
    object-fit: cover;
    width: 100%;
    overflow-x: auto;
    gap: 5px;
    margin-top: 20px;
}
.productoSeleccionado__ConImagenCarrusel{
    width: 200px;
    height: 200px;
    flex-shrink: 0; 
}
.productoSeleccionado__ImagenCarrusel{
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.carrusel__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    background-color: black;
    overflow-x: auto;
}
.carrusel__containerimg{
    height: 100%;
    flex-shrink: 0; 
}
.carrusel__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
