.productoSeleccionado{
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
}
.productoSeleccionado__ContainerImagenPrincipal{
    width: 100%;
    height: 80dvh;
}
.productoSeleccionado__ImagenPrincipal{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productoSeleccionado__otrasImagenes{
    display: flex;
    flex-direction: row;
    height: 300px;
    object-fit: cover;
    width: 100%;
    overflow-x: auto;
    gap: 5px;
    margin-top: 20px;
}
.productoSeleccionado__ConImagenCarrusel{
    width: 200px;
    height: 300px;
    flex-shrink: 0; 
}
.productoSeleccionado__ImagenCarrusel{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productoSeleccionado__h3Descripcion{
    margin-left: 10px;
    margin-top: 30px;
}
.productoSeleccionado__descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}



.carrusel__container{
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 320px;
    overflow-x: auto;
}
.carrusel__containerimg{
    width: 200px;
    height: 320px;
    flex-shrink: 0; 
}
