.home__container{
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

.home__tallas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.home__cards-container{
    display: flex;
    flex-wrap: wrap;
}