.home__container{
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

.home__h2{
    font-family: 'Zalando Sans Expanded';
    
}

.home__tallas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 8px;
}
.home__cards-container{
    display: flex;
    flex-wrap: wrap;
}