.tarjetaHome__link{
  text-decoration: none;
  color: inherit; 
  display: block;
  width: 100%;
  
  
}
.tarjetaHome__container{
    width: 50%;
    height: 73dvw;
    display: flex;
    flex-direction: column;
    

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 25% contain 10%;
    animation-fill-mode: both;
}

@keyframes appear{
    from{
        opacity: 0.3;
        transform: scale(0.2);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.tarjetaHome__container--carrusel{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
}
.tarjetaHome__img-container{
    height: 90%;
    width: 100%;  
    position: relative;
    background-color: white;
}

.tarjetaHome__link-img{
    height: 90%;
    width: 100%;
}

.tarjetaHome__img{
    height: 100%;
    width: 100%;    
    object-fit: contain;
    filter: drop-shadow(0px 8px 10px rgba(0,0,0,0.5));
    mask-image: linear-gradient(
        transparent,
        black 10%
    )


}

.tarjetaHome__like{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 85%;
    top: 90%;
    padding: 0;
    border: none;
    background-color: transparent;
}

.tarjetaHome__icon{
    width: 100%;
    height: 100%;
    font-size: 10px;
}
.tarjetaHome__iconOn{
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: red;
}

.tarjetaHome__p-container{  
    display: flex;
    align-items: center;
    padding-left: 5px;
    height: 10%;
    width: 100%;
    
}

.tarjetaHome__name{    
    flex: 1 1 auto;
    min-width: 0;
    text-align: center;
    margin: 0;
    padding: 0;   
    height: auto;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;       
}






