.tarjetaHome__link{
  text-decoration: none;
  color: inherit; 
}
.tarjetaHome__container{
    width: 50%;
    height: calc(100dvw - 100px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tarjetaHome__img-container{
    height: 90%;
    width: 100%;  
    position: relative;
}

.tarjetaHome__img{
    height: 100%;
    width: 100%;    
}

.tarjetaHome__like{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 85%;
    top: 90%;
}

.tarjetaHome__name{    
    text-align: center;
    margin: 0;
    padding: 0;   
    height: 10%;
    width: 95%;
    align-items: center;    
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;       
}

