.header__container{
    
    width: 100dvw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(122, 121, 121);
    position: relative;
    z-index: 50;
    background-color: white;
    position: fixed;
}
.header__logo{
    width: 40px;
    height: 100%;
}
.logo__img{
    
    height: 100%;
}
.header__nav{
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 20px;
    
    

}
.header__searchlogo{
    font-size: 30px;
}
.header__Favoritologo{
    display: flex;
    align-items: center;
    font-size: 26px;
    color: black;
    font-weight: bold;
}
.header__search{
    margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 70px;
    background-color: white ;
    border: 1px solid black;
    width: 100%;
    padding: 0;
    
    z-index: 1;
    transition: top 0.2s linear;
    box-sizing: border-box  ;
}
.search__input{
    border: none;
    width: 85%;
    height: 25px;
    margin: 0 5px;
    padding: 0 ;
    outline: none;
    
}
.header__closelogo{
    font-size: 35px;
}
.header__search--off{
    margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: white ;
    border: 1px solid black;
    width: 100%;
    padding: 0;
    
    z-index: 1;
    top: 34px;
    transition: top 0.2s linear;
    box-sizing: border-box;
    
}
.search__button{
    background-color: rgb(0, 0, 0);
    color: white;
    border: black;
    height: 35px;
    font-size: 15px;
    margin: 0;
}