.button{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 3px solid black;
    width: 20%;
    height: 45px;
    font-weight: bolder;
}

.button--selected{
    background-color: black;
    color: white;
}