.button{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 3px solid black;
    width: 30%;
    height: 50px;
}

.button--selected{
    background-color: black;
    color: white;
}